@font-face {
  font-family: Sheeping Dogs;
  src: url('../fonts/Sheeping_Dogs.ttf');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
  color: white;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section,
footer {
  padding: 2.5rem;
}

header {
  background-image: url("../img/main_jp.jpg");
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

footer {
  background-color: #001f3f;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

a {
  color: #ff0082;
  text-decoration: none;
}

hr {
  background: linear-gradient(to right, #1c6cff, #ff0082);
  height: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  color: transparent;
  width: 50%;
  border: solid 0px transparent;
}

.bg-fade {
  background-color: rgba(1, 1, 51, 0.6);
}

.dark-fade {
  background-color: rgba(1, 1, 51, 0.9);
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
}

.navbar .branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .branding .social {
  border-top: 2px solid white;
  border-left: 0;
  padding: 10px;
  margin: 10px 30px;
}

.navbar .branding .social .icon {
  width: 30px;
  height: 30px;
}

.navbar .menu {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar .menu a {
  color: white;
}

.navbar .menu a:hover {
  color: #ff0082;
}

.navbar .menu li {
  margin: 0 10px;
  font-size: 20px;
}

/* Landing Banner */
.landing-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.landing-banner h1 {
  font-family: Sheeping Dogs;
  margin-top: auto;
  margin-bottom: 0;
  color: #d869c4;
  font-size: 3rem;
  font-weight: normal;
}

.landing-banner h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: white;
  -webkit-text-fill-color: #ffffff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(247, 2, 203, 0.2);
}

.landing-banner .af-alliances {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  width: 100%;
  background-color: rgba(1, 1, 51, 0.7);
  margin-top: auto;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 2rem;
}

.landing-banner .af-alliances span {
  margin: 1rem;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.landing-banner .af-alliances .alliances-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-left: 0;
  height: 100%;
}

.landing-banner .af-alliances .alliances-list img {
  height: 64px;
  margin: 1rem;
}

/* Buttons */
.btn {
  min-width: 200px;
  width: 100%;
  max-width: 380px;
  border-radius: 15px;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
}

.af-color {
  color: #ffffff;
  background: linear-gradient(180deg, #1c6cff 0%, #ff0082 100%);
}

/* About us */
main {
  background: linear-gradient(90deg, rgba(1, 1, 51, 0.9025) 0%, rgba(29, 43, 100, 0.95) 100%);
}

main #about {
  width: 100%;
}

main #about .container {
  display: flex;
  flex-direction: column;
}

main #about .container div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  min-height: 200px;
}

main #about .container div:last-child {
  background-image: url("../img/affest2023/banner.jpg");
  background-size: cover;
  background-position: center;
}

main #about .container h3,
main #about .container h4 {
  margin: 0.5rem 0;
}

main #team {
  width: 100%;
  background-image: url("../img/pexels-george-becker-374914.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding: 0;
}

main #team .team-container {
  padding: 2rem;
  width: 100%;
  min-height: 400px;
  background-color: rgba(1, 1, 51, 0.7);
}

main #team .team-container .team-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 400px;
}

main #team .team-container .team-cards-container .team-card {
  display: grid;
  grid-template-rows: 10px 50px 50px 40px 10px;
  grid-template-columns: 10px 100px 10px 170px 10px;
  background-color: #1e1e48;
  min-width: 300px;
  min-height: 160px;
  margin: 15px;
  align-items: center;
}

main #team .team-container .team-cards-container .team-card .team-logo {
  grid-column: 4/5;
  grid-row: 3/5;
  margin-top: auto;
  margin-left: auto;
  opacity: 0.1;
  max-width: 140px;
}

main #team .team-container .team-cards-container .team-card .team-photo {
  grid-column: 2/3;
  grid-row: 2/5;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
/*
main #team .team-container .team-cards-container .team-card .team-social {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
*/
main #team .team-container .team-cards-container .team-card .team-social .icon {
  height: 20px;
  margin: 3px;
}

main #team .team-container .team-cards-container .team-card .team-description {
  grid-column: 4/5;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

main #team .team-container .team-cards-container .team-card .team-description .nombre {
  margin-bottom: 5px;
  color: #ff0082;
  text-align: center;
}

main #team .team-container .team-cards-container .team-card .team-description ul {
  list-style-image: none;
  list-style: none;
  font-size: 16px;
  margin-top: .5rem;
  margin-left: -6px;
}

main #team .team-container .team-cards-container .team-card .team-description ul li {
  margin: .1rem 0;
}

main #games .games-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

main #games .games-container .game {
  width: 300px;
  height: 230px;
  margin: 10px;
}

main #games .games-container .game .guilty {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/Millia_Guilty_Gear_Strive_60_opacity.png");
  background-size: cover;
  background-position: top;
}

main #games .games-container .game .guilty .guilty-logo {
  width: 200px;
  margin-top: auto;
}

main #games .games-container .game .blazblue {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/noel_opacity_60.png");
  background-size: cover;
  background-position: top;
}

main #games .games-container .game .blazblue .blazblue-logo {
  height: 70px;
  margin-top: auto;
}

main #games .games-container .game .granblu {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/Katalina_opacity_60.png");
  background-size: cover;
  background-position: top;
}

main #games .games-container .game .granblu .granblu-logo {
  height: 70px;
  margin-top: auto;
}

main #games .games-container .game .uniclr {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/phonon_opacity_60.png");
  background-size: cover;
  background-position: top;
}

main #games .games-container .game .uniclr .uniclr-logo {
  height: 70px;
  margin-top: auto;
}

main #games .games-container .game .figtherz {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/android_21_opacity_60.png");
  background-size: cover;
  background-position: top;
}

main #games .games-container .game .figtherz .figtherz-logo {
  height: 70px;
  margin-top: auto;
}

main #games .games-container .game .crosstag {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/ruby_opacity_60.png");
  background-size: cover;
  background-position: center;
}

main #games .games-container .game .crosstag .crosstag-logo {
  height: 70px;
  margin-top: auto;
}

main #games .games-container .game .frase {
  font-weight: 200;
  font-size: 2rem;
  margin-top: auto;
  text-align: center;
}

main #games .games-container .game .console-icon {
  width: 80px;
  margin: 5px;
  align-self: flex-start;
}

main #games .games-container .guilty-bg-color {
  background-color: #512020;
}

main #games .games-container .blazblue-bg-color {
  background-color: #1d1d5d;
}

main #games .games-container .granblu-bg-color {
  background-color: #292857;
}

main #games .games-container .uniclr-bg-color {
  background-color: #254227;
}

main #games .games-container .figtherz-bg-color {
  background-color: #1d1b1d;
}

main #games .games-container .crosstag-bg-color {
  background-color: #5c375f;
}

/*--------- kokun ---------*/
main #games .games-container .game .figtherz {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/android_21_opacity_60.png");
  background-size: cover;
  background-position: top;
}

main #games .games-container .game .figtherz .figtherz-logo {
  height: 70px;
  margin-top: auto;

}
/*--------- SF6 ---------*/
main #games .games-container .game .sf6 {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/juri_opacity_60.png");
  background-size: cover;
  background-position: center;
}

main #games .games-container .game .sf6 .sf6-logo {
  height: 70px;
  margin-top: auto;
}

.sf6-bg-color{
  background-color: #845d8f;
}
/*--------- KOF ---------*/
main #games .games-container .game .kof {
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/silvye_opacity_60.png");
  background-size: cover;
  background-position: center;
}

main #games .games-container .game .kof .kof-logo {
  height: 70px;
  margin-top: auto;
}

.kof-bg-color{
  background-color: #0d3d69;
}
/*--------- SKULLGIRLS ---------*/
main #games .games-container .game .skullgirls{
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/squigly_opacity_60.png");
  background-size: cover;
  background-position: center;
}

main #games .games-container .game .skullgirls .skullgirls-logo {
  height: 70px;
  margin-top: auto;
}

.skullgirls-bg-color{
  background-color: #8d6d85;
}
/*--------- SMASH---------*/
main #games .games-container .game .smash{
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/blee_opacity_60.png");
  background-size: cover;
  background-position: center;
}

main #games .games-container .game .smash .smash-logo {
  height: 70px;
  margin-top: auto;
}

.smash-bg-color{
  background-color: #343434;
}
/*--------- MARVEL ---------*/
main #games .games-container .game .marvel{
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/morrigan_opacity_60.png");
  background-size: cover;
  background-position: center;
}

main #games .games-container .game .marvel .marvel-logo {
  height: 70px;
  margin-top: auto;
}

.marvel-bg-color{
  background-color: #3e1e65;
}
/*--------- +R ---------*/
main #games .games-container .game .ggr{
  width: 300px;
  height: 230px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/games/jam_opacity_60.png");
  background-size: cover;
  background-position: center;
}

main #games .games-container .game .ggr .ggr-logo {
  height: 70px;
  margin-top: auto;
}

.ggr-bg-color{
  background-color: #3a0000;
}

footer {
  background-color: #151515;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 576px) and (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    color: white;
  }
  .navbar .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar .branding .social {
    border-left: 2px solid white;
    border-top: 0;
    padding: 20px;
    margin: 20px 30px;
  }
  .navbar .branding .social .icon {
    width: 30px;
    height: 30px;
  }
  .navbar .menu {
    margin-left: auto;
  }
  .landing-banner .af-alliances {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    width: 100%;
    background-color: rgba(1, 1, 51, 0.7);
    margin-top: auto;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 2rem;
  }
  .landing-banner .af-alliances span {
    margin: 1rem;
    padding-bottom: 0;
    border: 0;
  }
  .landing-banner .af-alliances .alliances-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 2px solid white;
    height: 100%;
  }
  .landing-banner .af-alliances .alliances-list img {
    height: 64px;
    margin: 1rem;
  }
  h1, h2, h3, h4, h5 {
    text-align: left;
  }
  hr {
    background: linear-gradient(to right, #1c6cff, #ff0082);
    height: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: 0;
    color: transparent;
    width: 50%;
    border: solid 0px transparent;
  }
  main {
    background: linear-gradient(90deg, rgba(1, 1, 51, 0.9025) 0%, rgba(29, 43, 100, 0.95) 100%);
  }
  main #about {
    width: 100%;
  }
  main #about .container {
    display: flex;
    flex-direction: row;
  }
  main #about .container div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    min-height: 350px;
    max-height: 600px;
  }
  main #about .container div:last-child {
    background-image: url("../img/affest2023/banner.jpg");
    background-size: cover;
    background-position: center;
  }
  main #about .container h3,
  main #about .container h4 {
    margin: 0.5rem 0;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
  .landing-banner h1 {
    font-size: 5rem;
  }
  .landing-banner h1 {
    font-size: 3rem;
  }
  main #about .container h3 {
    font-size: 2rem;
  }
  main #about .container h4 {
    margin: 0.5rem 0;
  }
  main #about .container p {
    font-size: 20px;
  }
}

@media (min-width: 576px) and (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
  hr {
    width: 20%;
  }
}
/*# sourceMappingURL=main.css.map */